@charset "UTF-8";

.topnav
{
    background-color:#0d1116;    
}

.titletext {
    background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
}

.navitems
{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
}